*.iso
*.img

**/.terraform
**/.terraform.*
**/terraform.tfstate
**/terraform.tfstate.backup

kubectl
kubectl.sha256

src/virtualbox/configs/meta-data
src/virtualbox/configs/user-data
src/azure/*.json
**/_az.sh

.vscode

*.network.txt
*.tar.xz

LFS258

**/.ssh
**/.azure